<div class="border-top-thin clearfix mt-2 mt-lg-4">
  <div>
      <a href="/documents/Thomas_Walker_CV.pdf"><i class="fa-solid fa-file fa-xl"></i></img></a>
      <a href="https://www.linkedin.com/in/thomas-walker-706854189/"><i class="fa-brands fa-linkedin fa-xl"></i></a>
      <a href="https://thomaswalker1.substack.com/"><i class="fa-solid fa-square-rss fa-xl"></i></a>
      <a href="https://x.com/thomas_M_walker"><i class="fa-brands fa-x-twitter fa-xl"></i></a>
      <a href="https://github.com/ThomasWalker1"><i class="fa-brands fa-square-github fa-xl"></i></img></a>
      <a href="https://scholar.google.com/citations?user=GImwI3sAAAAJ&hl=en"><i class="fa-brands fa-google-scholar fa-xl"></i></a>
  </div>
</div>
