<header class="header-background">
  <div class="clearfix border-bottom-thick px-2 header-border">
    <div class="left sm-width-full py-1 mt-1 mt-lg-0">
      <a class="align-middle link-primary text-accent" href="{{ site.baseurl }}/">
        {{ site.title }}
      </a>
    </div>
    <div class="center">
    <a href="/documents/Thomas_Walker_CV.pdf"><img src="/assets/cv_icon.png" style="width:40px;height:40px;"></img></a>
    <a href="https://www.linkedin.com/in/thomas-walker-706854189/"><img src="/assets/linkedin_icon.png" style="width:40px;height:40px;"></img></a>
    <a href="https://github.com/ThomasWalker1"><img src="/assets/github_icon.png" style="width:40px;height:40px;"></img></a>
    </div>
    <ul class="list-reset right py-1 header-text font-smoothing">
        <li class="inline-block">
          <a class="align-middle link-primary header-link mr-2" href="/projects.html">Projects</a>
        </li>
        <li class="inline-block">
          <a class="align-middle link-primary header-link mr-2" href="/blog.html">Blog</a>
        </li>
        <li class="inline-block">
          <a class="align-middle link-primary header-link mr-2" href="/notes.html">Notes</a>
        </li>
    </ul>
  </div>
</header>

