<header class="header-background">
  <div class="clearfix border-bottom-thick header-border">
    <div class="left sm-width-full py-1 mt-1 mt-lg-0">
      <a class="align-middle link-primary text-accent" href="{{ site.baseurl }}/">
        {{ site.title }}
      </a>
    </div>
    <ul class="list-reset right py-1 header-text font-smoothing">
        <li class="inline-block">
          <a class="align-middle link-primary header-link mr-2" href="/projects.html">Projects</a>
        </li>
        <li class="inline-block">
          <a class="align-middle link-primary header-link mr-2" href="/blog.html">Blog</a>
        </li>
        <li class="inline-block">
          <a class="align-middle link-primary header-link mr-2" href="/notes.html">Notes</a>
        </li>
    </ul>
  </div>
  <div class="container mx-auto px-2 mb-2 clearfix header-text">
    <div class="col-6 sm-width-full left"><h1>Thomas Walker</h1><h3>Imperial College London - BSc Mathematics</h3></div>
    <div class="col-6 sm-width-full left"><img src="assets/picture_newtons_apple_tree.jpg" alt="profile_picture" style="padding-top: 10px;width:300px;height:400px;"></div>
  </div>
</header>
