<!DOCTYPE html>
<html>
  <script src="https://kit.fontawesome.com/7a9f4f8db3.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
  {% include head.html %}

  <body>
    {% include header.html %}
    <header class="header-background">
    <div class="container mx-auto px-2 mb-2 clearfix header-text">
      <div class="col-6 sm-width-full left">
        <h1>Thomas Walker</h1>
        <h3>PhD - Rice University</h3>
        <div style="padding-left: 175px;">
          <a href="/documents/Thomas_Walker_CV.pdf"><i class="fa-solid fa-file fa-xl"></i></img></a>
          <a href="https://www.linkedin.com/in/thomas-walker-706854189/"><i class="fa-brands fa-linkedin fa-xl"></i></a>
          <a href="https://thomaswalker1.substack.com/"><i class="fa-solid fa-square-rss fa-xl"></i></a>
          <a href="https://x.com/thomas_M_walker"><i class="fa-brands fa-x-twitter fa-xl"></i></a>
          <a href="https://github.com/ThomasWalker1"><i class="fa-brands fa-square-github fa-xl"></i></img></a>
          <a href="https://scholar.google.com/citations?user=GImwI3sAAAAJ&hl=en"><i class="fa-brands fa-google-scholar fa-xl"></i></a>
        </div>
      </div>
      <div class="col-6 sm-width-full left">
        <img src="assets/picture_newtons_apple_tree.jpg" alt="profile_picture" style="width:300px;height:400px;">
      </div>
    </div>
    </header>
    <article class="container mx-auto px-2 mt2 mb4">
      <div class="prose mb-4 py-4">
        <p>
          I am an incoming PhD student at Rice University, under the supervision of <a href="https://richb.rice.edu/">Richard Baraniuk</a>. I am interested in understanding the inner-workings of machine learning models with a focus on geometrical perspectives, such as the <a href="https://arxiv.org/abs/2408.04809">spline theory of deep learning</a>. With the intention of improving the reliability and robustness of machine learning models.
        </p>
        <p>
          Currently, I am exploring the <a href="https://arxiv.org/abs/2405.20174">tropical geometry of neural networks</a>, with <a>Dr Anthea Monod</a> at Imperial College London. Tropical geometry provides a formal representation of neural networks which can be leveraged to rigorously explore the geometry of neural networks.
        </p>
        <p>
          Broadly my research interests include the geometry of machine learning, neural network generalisation, interpretability, and generative modelling.
        </p>
        <p>
          In my spare time I enjoy pondering about philosophy and the theory of mind. Moreover, I participate in sports including running, cycling and swimming.
        </p>
      </div>
      <h3>Interest Network</h3>
      <div id="main-container">
        <div id="graph-container"></div>
        <div class="panel">
          <h3>Edge Suggestions</h3>
          <p>
            Suggest topics I should explore from my current interests. Include the node from which your suggestions stems, a destination node which can either be a new or existing node, and a brief description on suggestion.
          </p>
          <form action="https://formspree.io/f/mwpejlpd" method="POST">
          <label for="name">Your Name</label>
          <br>
          <input name="name">
          <br>
          <label for="fromNode">From Node</label>
          <br>
          <input type="text" id="fromNode" name="fromNode">
          <br>
          <label for="toNode">To Node</label>
          <br>
          <input type="text" id="toNode" name="toNode">
          <br>
          <label for="descriptionEdge">Edge Description</label>
          <br>
          <textarea rows="3" name="descriptionEdge"></textarea>
          <br>
          <button type="submit" id="submitEdgeBtn">Submit</button>
        </form>
      </div>
      </div>
      <div class="prose mb-4 py-4">
        <table id="edgeTable"></table>
      </div>
    </article>
    <script src="scripts/graph.js"></script>
  </body>
  {% include footer.html %}
</html>
